---

- name: Create the qemu-ifup file
  vars: 
    bridge: "{{ item }}"
  template: src=templates/qemu_ifup.sh.j2 dest="{{ remote_dir }}/{{ item }}_ifup"
  with_items:
    - "{{ pub_nic }}br0"
    - "{{ vlan_nic }}br0"

- name: Create the sut kvm command on remote hosts
  vars:
    vm_name: "{{ item.name }}"
    mem_size: "{{ item.memory.size }}"
    cpu_count: "{{ item.cpu.count }}"
    cpu_mode: "{{ item.cpu.mode }}"
    win_disk_img: "{{ item.hard_disk.path }}"
    usb_disk_img: "{{ item.usb_disk.path }}"
    vnc_port: "{{ item.vnc.port }}"
  template: src=templates/sut.sh.j2 dest="{{ remote_dir }}/{{ item.name }}.sh"
  with_items:
    - "{{ sut_vms }}"

- name: Create the sc kvm command on remote hosts
  vars:
    vm_name: "{{ item.name }}"
    mem_size: "{{ item.memory.size }}"
    cpu_count: "{{ item.cpu.count }}"
    cpu_mode: "{{ item.cpu.mode }}"
    win_disk_img: "{{ item.hard_disk.path }}"
    vnc_port: "{{ item.vnc.port }}"
  template: src=templates/sc.sh.j2 dest="{{ remote_dir }}/{{ item.name }}.sh"
  with_items:
    - "{{ sc_vms }}"
